PORT=4001

REDIS_PORT=
REDIS_DB=
REDIS_HOST=

POSTGRE_USERNAME=postgres
POSTGRE_PASSWORD=postgres
POSTGRE_HOST=localhost
POSTGRE_DB=localhost
POSTGRE_PORT=5432

DEFAULT_PASSWORD=qwerty

APP_SECRET_KEY=
TOKEN_KEY=
REFRESH_TOKEN_KEY=

EMAIL_IS=
EMAIL_PASSWORD_IS=
EMAIL_RECEIVER=
EMAIL_RECEIVER_BCC=